<!-- _includes/navigation.html -->
<div class="headings">
  <a href="/afterlife.html" class="{% if page.url == '/afterlife.html' %}current-tab{% else %}tab-link{% endif %}">The Afterlife of Urban Renewal</a>
  <a href="/the_living_archive.html" class="{% if page.url == '/the_living_archive.html' %}current-tab{% else %}tab-link{% endif %}">The Living Archive</a>
  <a href="/reclaim_and_remain.html" class="{% if page.url == '/reclaim_and_remain.html' %}current-tab{% else %}tab-link{% endif %}">Reclaim and Remain</a>
  <a href="/about.html" class="{% if page.url == '/about.html' %}current-tab{% else %}tab-link{% endif %}">About</a>
</div>
